# Demo for Regressor

In [1]:
%load_ext autoreload
%autoreload 2

### Imports

In [2]:
from dt import DecisionTreeRegression
import pandas as pd
from utils import parser

### Reading Data

In [3]:
d = pd.read_excel("../data/real_estate/dataset.xlsx")
d.head(6)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1
5,6,2012.666667,7.1,2175.03000,3,24.96305,121.51254,32.1

### Training

In [4]:
dt = DecisionTreeRegression(max_depth=4, method='std')
dt.train(d)

### Prediction

In [5]:
# passing sample test cases from the data
# the argument passed should be a pd DF
dt.predict(d.iloc[4:7, :-1])

           0
4  48.716327
5  26.465432
6  39.378302